/* CSS declarations go here */
textarea {
	width: 100%;
	min-height: 250px;
}
pre,
.SpreadsheetToMongoDB__form {
	background: #f5f5f5;
	padding: 1.5em;
	border-radius: 5px;
	border: 1px solid #ccc;
	line-height: 1.4;
}
.SpreadsheetToMongoDB__form label {
	padding: 0 0 .5em;
	display: block;
}
.SpreadsheetToMongoDB__form__field-name {
	border-right: 1px solid;
	padding-right: 1em;
	margin-right: 0.75em;
}
.SpreadsheetToMongoDB__form__field-name:last-child {
	border-right: none;
}
li {
	margin-bottom: 1.4em;
	line-height: 1.2;
	border-bottom: 2px solid #ddd;
	padding-bottom: 1.4em;
}
li li {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}